:root {
    --light-gray: #e0e0e0a9;
    --smoke-white: #e0e0e0;
    --gray: #333;
    --white: #ffffff;
    --yellow: #ffcc00;
    --black: #212121;
    --blue: #2196f3;
    --red: #ff5733;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;
}

header .logo img {
    max-height: 40px;
    display: block;
}

header .top-bar a {
    color: var(--white);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header .top-bar a:hover {
    color: var(--yellow);
}

header .top-bar a.active {
    color: var(--yellow);
}

.menu-button {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--yellow);
    margin-right: 50px;
    background: none;
    border: none;
}

aside.sidebar {
    width: 250px;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    z-index: 1;
    border-right: 1px solid var(--smoke-white);
}

.sidebar-header {
    margin-bottom: 30px;
}

.sidebar-header h2 {
    font-size: 22px;
    font-weight: bold;
    color: var(--black);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-nav a {
    color: var(--black);
    text-decoration: none;
    margin: 15px 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar-nav a:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.sidebar-nav a.active {
    background-color: var(--blue);
    color: var(--white);
}

main {
    padding: 80px 20px 60px;
    flex-grow: 1;
    background-color: var(--light-gray);
    transition: margin-left 0.3s ease;
}


main.centered {
    margin-left: 0;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 90%;
    padding: 20px;
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.modal-button {
    font-size: 1.1em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn,
.login-btn {
    background: var(--yellow);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.register-btn:hover,
.login-btn:hover {
    background-color: var(--light-gray);
}

.close-btn {
    background-color: var(--gray);
    color: var(--white);
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    padding: 0;
    line-height: 30px;
}

.close-btn:hover {
    background-color: var(--smoke-white);
}

.sidebar.hide {
    display: none;
}