:root {
    --light-gray: #e0e0e0a9;
    --smoke-white: #e0e0e0;
    --gray: #272724;
    --white: #ffffff;
    --yellow: #222;
    --black: #212121;
    --blue: #2196f3;
    --red: #ff5733;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-gray);
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: auto;
}

.notification {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffee00;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: none;
    /* Hidden by default */
}

.notification:hover {
    background-color: #fdfb81;
}

.lastmessage {
    font-size: 8px;
}

.close-btn {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-nav {
    margin-top: 60px;
}

header {
    margin-top: 0px;
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    backdrop-filter: blur(8px);
    background-color: rgba(var(--black), 0.8);
}

header .logo img {
    max-height: 45px;
    display: block;
    background-color: transparent;
}

header .top-bar a {
    color: var(--white);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header .top-bar a:hover {
    color: var(--yellow);
}

header .top-bar a.active {
    color: var(--yellow);
}

.menu-button {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--yellow);
    margin-right: 50px;
    background: none;
    border: none;
}

aside.sidebar,
.sidebar-for-min {
    width: 250px;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    z-index: 1;
    border-right: 1px solid var(--smoke-white);
}

.sidebar-header {
    margin-bottom: 30px;
}

.sidebar-header h2 {
    font-size: 22px;
    font-weight: bold;
    color: var(--black);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.creat-post,
.active {
    cursor: pointer;
    background-color: var(--gray);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s linear;
}

.creat-post:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.sidebar-nav span {
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    /* transition: all 0.3s ease; */
}

.sidebar-nav span:hover {
    color: var(--white);
}

.sidebar-nav a.active {
    background-color: var(--blue);
    color: var(--white);
}

main {
    flex-grow: 1;
    background-color: var(--light-gray);
    transition: margin-left 0.3s ease;
}


main.centered {
    margin-left: 0;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 90%;
    padding: 20px;
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.modal-button {
    font-size: 1.1em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn,
.login-btn {
    background: var(--yellow);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.register-btn:hover,
.login-btn:hover {
    background-color: var(--light-gray);
}

.close-btn {
    background-color: var(--gray);
    color: var(--white);
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    padding: 0;
    line-height: 30px;
}

.close-btn:hover {
    background-color: var(--smoke-white);
}

.sidebar.hide {
    display: none;
}

/* side online bar style */

.onligne-bar {
    width: auto;
    height: 100vh;
    background-color: transparent;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    margin-top: 50px;
    overflow-y: auto;
}

.status-bar {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    height: auto;
}

.status-bar:hover {
    background-color: var(--gray);
}

.status-bar:hover .status-info,
.status-bar:hover .username,
.status-bar:hover .lastmessage,
.status-bar:hover .timestamp {
    color: var(--white);
    background-color: var(--gray);
}

/* .status-bar:hover .status-info {
    background-color: var(--black);
} */

.status-bar:hover .username {
    color: var(--white);
}


.status-info {
    display: grid;
    align-items: center;
    background-color: var(--light-gray);
}


.status {
    margin-right: 10px;
    font-weight: bold;
}

.online {
    color: #4CAF50;
}

.offline {
    color: #f44336;
}

.username {
    color: var(--black);
    font-size: 18px;
}

.notification {
    position: relative;
}

.notification-counter {
    background-color: var(--red);
    color: white;
    padding: 2.5px 5px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Customize the Scrollbar */
.onligne-bar::-webkit-scrollbar {
    width: 10px;
}

.onligne-bar::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
    border: 2px solid var(--white);
}

.onligne-bar::-webkit-scrollbar-track {
    background-color: var(--smoke-white);
    border-radius: 10px;
}

.hide {
    display: none;
}

.shown {
    display: block;
}

@media screen and (max-width: 650px) {
    .post-title {
        font-size: 18px;
    }

    .reaction-buttons,
    .reaction-section {
        gap: 8px;
    }


}