.container {
    background-color: var(--white);
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 10vh auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.533);
    border-radius: 8px;
    max-height: 40vh;
}

.error-message {
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.err-button {
    font-size: 1em;
    background: var(--light-gray);
    min-width: 200px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.err-button:hover {
    background-color: var(--light-gray);
}

.error-msg {
    color: black;
    background-color: white;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .container {
        padding: 15px;
    }

    .err-button {
        min-width: 150px;
        padding: 8px 12px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .err-button {
        min-width: 120px;
        padding: 6px 10px;
        font-size: 0.8em;
    }
}