.conversation {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 90%;
    max-width: 800px;
    background-color: transparent;
}

.messages-section {
    width: 100%;
    height: 80%;
    max-height: 500px;
    padding: 16px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    overflow-y: auto;
}

.messages-input {
    height: 15%;
    max-height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.message-input {
    background: transparent;
    border-radius: 7px;
}

.message-input1 {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    background: white;
    font-size: 18px;
}

.message {
    height: 80px;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    word-wrap: break-word;
    max-width: 80%;
}

.message.sender {
    background-color: var(--white);
    color: black;
    align-self: flex-start;
}

.message.receiver {
    background-color: var(--gray);
    color: var(--white);
    align-self: flex-end;
}

.message.sender {
    background-color: var(--gray);
    color: var(--white);
}

.error-message {
    color: red;
    font-size: 20px;
    margin-top: 10px;
}

.seemore {
    cursor: pointer;
}

.over-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 1000;
}

body.has-overlay {
    overflow: hidden;
    height: 100vh;
}

.messages-section::-webkit-scrollbar {
    width: 6px;
}

.messages-section::-webkit-scrollbar-track {
    background: transparent;
}

.messages-section::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
}

.message-header,
p {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    background-color: var(--gray);
}

.username-message {
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: var(--gray);

}

.timestamp-mssg {
    color: #bbb;
    background-color: var(--gray);
}

.progress-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    max-width: 300px;
    min-width: 200px;
    max-height: 40px;
    border-radius: 10px;
    gap: 20px;
    padding: 5px 5px 5px;
}

.progress {
    position: absolute;
    animation: fadeIn 0.5s ease-out;
    transform: translateY(-110%);
}

.prog-message p {
    background-color: #f0f0f0;
    color: black;
    font-size: 20px;
    margin-top: 5px;
}

.prog-name {
    font-weight: bolder;
    margin-right: 5px;
}

.prog-animation {
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.one {
    animation: blinking 2s infinite;
    animation-delay: 0s;
}

.two {
    animation: blinking 2s infinite;
    animation-delay: 0.5s;
}

.three {
    animation: blinking 2s infinite;
    animation-delay: 1s;
}

@keyframes fadeIn {
    0% {
        z-index: -99;
        opacity: 0;
        transform: translateY(150%);
    }

    100% {
        z-index: 99;
        opacity: 1;
        transform: translateY(-110%);
    }

}

@keyframes blinking {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(-5px);
    }
}

.hiden {
    display: none;
}