.create-post {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: var(--white);
    border: 1px solid var(--smoke-white);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    margin: 10vh;
}

.create-post h2 {
    font-size: 28px;
    color: var(--black);
    margin-bottom: 25px;
}

.create-post form {
    width: 100%;
}

.create-post .post-title,
.create-post .post-content,
.create-post .post-category {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--smoke-white);
    border-radius: 6px;
    font-size: 16px;
    color: var(--gray);
    background-color: var(--white);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.create-post .post-content {
    height: 62px;
}

.create-post .post-content {
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
}

.create-post .post-title:focus,
.create-post .post-content:focus,
.create-post .post-category:focus {
    border-color: var(--yellow);
    outline: none;
    box-shadow: 0 0 5px var(--yellow);
}

.create-post .form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--gray);
    font-weight: bold;
    text-align: left;
}

.create-post button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--yellow);
    color: var(--black);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-post button[type="submit"]:hover {
    background-color: var(--light-gray);
}

#responseMessage {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: red;
}

@media screen and (max-width: 768px) {
    .create-post {
        padding: 20px;
    }

    .create-post h2 {
        font-size: 24px;
    }

    .create-post .post-title,
    .create-post .post-content,
    .create-post .post-category {
        font-size: 14px;
        padding: 10px;
    }

    .create-post button[type="submit"] {
        font-size: 16px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .create-post {
        padding: 15px;
    }

    .create-post h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .create-post .post-title,
    .create-post .post-content,
    .create-post .post-category {
        font-size: 12px;
        padding: 8px;
    }

    .create-post button[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}

textarea {
    padding: 0px;
    margin: 0px;
}