{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="icon" type="image/x-icon" href="/assets/icons/logo.png">
    {{template "style"}}
    <title>{{template "title"}}</title>
</head>

<body>
    <header>
        <button class="menu-button">☰</button>
        <a href="/">
            <div class="logo">
                <img src="/assets/icons/logo.png" alt="Logo">
            </div>
        </a>
        <nav class="top-bar" id="auth-nav">
        </nav>
    </header>
    {{template "body" .}}
    <script type="module" src="/assets/js/script.js"></script>
    {{template "script" .}}
</body>

</html>
{{end}}