{{define "style"}}
<link rel="stylesheet" href="/assets/css/posts.css">
{{end}}

{{define "title"}}talk - HomePage{{end}}




{{define "body"}}
<main>
    {{block "sidebar" .}}{{end}}
    <section class="posts">
    </section>
</main>
{{end}}

{{define "script"}}
<script type="module">
    import { GetData } from "/assets/js/script.js";
    if (window.location.pathname != "/") {
        let postIds = JSON.parse('{{.}}')
        GetData(postIds);
    } else {
        GetData()
    }        
</script>

<script type="module" src="/assets/js/posts.js"></script>


{{end}}